html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

@font-face {
  font-family: 'Graphik LC Web';
  src: url('/fonts/graphiklcweb_medium.ttf');
  font-weight: normal;
  font-style: normal;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p{
  margin: 0;
}

body{
  font-family: 'Graphik LC Web', sans-serif;
  background-color: rgb(236, 226, 226);
}

button:hover{
  cursor: pointer;
}

h1{
  font-size: 18px;
  font-weight: bold;
}

.block{
  text-align: center;
  margin-top: 100px;
  font-size: 14px;
}

.container{
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
}

.title{
  display: flex;
  margin-bottom: 16px;
}

.title__tick{
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-2px);
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.add-new{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 0 8px;
}

.add-new__field{
  flex-grow: 1;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  padding: 8px;
}

.add-new__field:focus{
  outline: none;
  border-color: #248567;
}

.add-new__field::placeholder{
  font-weight: 400;
  padding: 8px 0;
}

.add-new__btn{
  flex-grow: 0;
  background-color: #248567;
  color: white;
  padding: 7.5px 12px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.task-list__item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 0 8px;
}

.task-list__unit{
  display: flex;
  gap: 0 8px;
  position: relative;
}

.checkbox__control{
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  margin-top: 6px;
  padding: 0;
  opacity: 0; 
  z-index: 2;
}

.checkbox__label{
  margin-top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid rgb(173, 173, 173);
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox__control:hover{
  cursor: pointer;
}

/* чекбокс отмечен */
.checkbox__control:checked + .checkbox__label {
  background-color: #248567;
  border-color: #248567;
}

/* Галочка при активном чекбоксе */
.checkbox__control:checked + .checkbox__label::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 3px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); /* Поворот для галочки */
}

.task-list__text{
  width: 300px;
  text-align: start;
  align-self: center;
  padding: 7.5px 8px;
  font-weight: 400;
}

.task-list__text:hover{
  cursor: pointer;
  outline: 1px solid #d1d1d1;
  border-radius: 2px;
}

.task-list__text:focus{
  outline: 1px solid #248567;
  border-radius: 2px;
}

.checkbox__control:checked ~ .task-list__text {
  text-decoration: line-through;
  color: #767676; 
}

.task-list__delete{
  background-color: transparent;
  border: none;
  padding: 0;
  align-self: flex-start;
  margin-top: 6px;
}